# Project data
assets/**
artefacts/**

# Python
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Testing
.pytest_cache/
htmlcov/
.coverage
.coverage.*
*.cover

# VectorMesh caches
.vmcache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
dev/*
*.log
.lycheecache
**/tmp/*
**/demo/*
.notebookcache/
logs/**
